body {
color: rgb(25,13,200);
font-family: cursive;
margin: 0px;
}

div {
    min-height: 10vh;
    width: 100vw;
}
h1, h2 {
  text-align: center;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 2em;
}
img {
  display: flex;
  padding: 30px;
  margin: 0px auto;
  border-radius: 130px;
}
p {
width: 40%;
margin: 10vh 10vw;
font-size: 1.5em;
}
a {
color: black;
}
ol {
list-style: none;
padding: 0;
margin-bottom: 10%;
font-size: 2em;
display: flex;
justify-content: space-evenly;
}

div.contrast {
background-color: rgb(0,0,0);
color: rgb(255,255,255);
}
